JAVA_HOME={{ java_home }}
HADOOP_PREFIX=/opt/hadoop
HADOOP_COMMON_LIB_NATIVE_DIR=${HADOOP_PREFIX}/lib/native
HADOOP_OPTS="-Djava.library.path=$HADOOP_PREFIX/lib"
HADOOP_HOME_WARN_SUPPRESS=1
HADOOP_ROOT_LOGGER="WARN"
PATH=$PATH:/opt/hadoop/bin:/usr/bin:/bin:
