[Unit]
Description=Hadoop Yarn
After=network.target

[Service]
Type=forking
PIDFile=/tmp/yarn-hadoop-resourcemanager.pid
User={{ hadoop_service_user }}
Group={{ hadoop_service_user }}
EnvironmentFile=/etc/default/hadoop
ExecStart=/opt/hadoop/sbin/start-yarn.sh
ExecStop=/opt/hadoop/sbin/stop-yarn.sh

[Install]
WantedBy=multi-user.target
