PATH=/sbin:/usr/sbin:/bin:/usr/bin
USER={{ hadoop_service_user }}
START=/opt/hadoop/sbin/start-dfs.sh
STOP=/opt/hadoop/sbin/stop-dfs.sh
PIDFILE=/tmp/hadoop-hadoop-namenode.pid
SCRIPTNAME=/etc/init.d/hadoop-dfs

export JAVA_HOME={{ java_home }}
export HADOOP_PREFIX=/opt/hadoop
export HADOOP_COMMON_LIB_NATIVE_DIR=${HADOOP_PREFIX}/lib/native
export HADOOP_OPTS="-Djava.library.path=$HADOOP_PREFIX/lib"
export HADOOP_HOME_WARN_SUPPRESS=1
export HADOOP_ROOT_LOGGER="WARN"

. /lib/lsb/init-functions

do_start()
{
  ulimit -n 40000
  start-stop-daemon --chuid $USER  --start --quiet --oknodo --pidfile $PIDFILE --exec $START
}

do_stop()
{
  exec su - $USER $STOP
}

case "$1" in
  start)
    do_start
    ;;
  stop)
    do_stop
    ;;
  status)
    status_of_proc -p $PIDFILE "$USER"
    ;;
  restart|force-reload)
    do_stop && do_start
    ;;
  *)
    echo "Usage: $SCRIPTNAME {start|stop|status|restart|force-reload}" >&2
    exit 3
    ;;
esac
